@charset "utf-8";
/* CSS Document */

.replace-2x {
	font-size: 1px;
}

@media all and (-webkit-min-device-pixel-ratio:2) {
	
.page-sidebar{	background-image:url(../images/misc/menu-bg.png);	-webkit-background-size:75px 75px;}

.hide-sidebar{	/*background-image:url(../images/misc/menu-item/deploy-menu@2x.png); */ -webkit-background-size:18px 12px;}
.show-sidebar{	/*background-image:url(../images/misc/menu-item/deploy-menu@2x.png);*/  -webkit-background-size:18px 12px;}
.header-mail{	 -webkit-background-size:18px 12px;}

.icon-heading{			-webkit-background-size:12px 12px;}

.menu-item{		 	 -webkit-background-size:20px 51px;}
.menu-item:hover{		-webkit-background-size:20px 51px;}
.menu-disabled{	/*background-image:url(../images/misc/menu-item/menu_off@2x.png); */		 -webkit-background-size:14px 14px;}
.menu-enabled{	/*background-image:url(../images/misc/menu-item/menu_on@2x.png); */			 -webkit-background-size:14px 14px;}


.update-blog{		-webkit-background-size:17px 16px;}
.update-folio{		-webkit-background-size:17px 16px;}
.update-news{		-webkit-background-size:17px 16px;}

.submenu a{		background-image:url(../images/misc/menu-arrows/arrow@2x.png); -webkit-background-size:6px 8px;}

	
	.list-address{				-webkit-background-size:16px 16px; }
	.list-block{				-webkit-background-size:16px 16px; }
	.list-bookmark{				-webkit-background-size:16px 16px; }
	.list-briefcase{			-webkit-background-size:16px 16px; }
	.list-bubble{				-webkit-background-size:16px 16px; }
	.list-buy{					-webkit-background-size:16px 16px; }
	.list-calendar{				-webkit-background-size:16px 16px; }
	.list-clipboard{			-webkit-background-size:16px 16px; }
	.list-delete{				-webkit-background-size:16px 16px; }
	.list-clock{				-webkit-background-size:16px 16px; }
	.list-diagram{				-webkit-background-size:16px 16px; }
	.list-document{				-webkit-background-size:16px 16px; }
	.list-down{					-webkit-background-size:16px 16px; }
	.list-flag{					-webkit-background-size:16px 16px; }
	.list-folder{				-webkit-background-size:16px 16px; }
	.list-gear{					-webkit-background-size:16px 16px; }
	.list-globe{				-webkit-background-size:16px 16px; }
	.list-heart{				-webkit-background-size:16px 16px; }
	.list-help{					-webkit-background-size:16px 16px; }
	.list-home{					-webkit-background-size:16px 16px; }
	.list-key{					-webkit-background-size:16px 16px; }
	.list-label{				-webkit-background-size:16px 16px; }
	.list-left{					-webkit-background-size:16px 16px; }
	.list-letter{				-webkit-background-size:16px 16px; }
	.list-monitor{				-webkit-background-size:16px 16px; }
	.list-pencil{				-webkit-background-size:16px 16px; }
	.list-plus{					-webkit-background-size:16px 16px; }
	.list-present{				-webkit-background-size:16px 16px; }
	.list-print{				-webkit-background-size:16px 16px; }
	.list-right{				-webkit-background-size:16px 16px; }
	.list-save{					-webkit-background-size:16px 16px; }
	.list-shield{				-webkit-background-size:16px 16px; }
	.list-statistics{		-webkit-background-size:16px 16px; }
	.list-stop{					-webkit-background-size:16px 16px; }
	.list-tick{					-webkit-background-size:16px 16px; }
	.list-trash{				-webkit-background-size:16px 16px; }
	.list-up{					-webkit-background-size:16px 16px; }
	.list-user{					-webkit-background-size:16px 16px; }
	.list-walet{				-webkit-background-size:16px 16px; }
	.list-warning{				-webkit-background-size:16px 16px; }


	.show-toggle-v5{			-webkit-background-size:12px 12px;		}
	.hide-toggle-v5{			-webkit-background-size:12px 12px;		}
	
	.show-toggle-v4{			-webkit-background-size:16px 16px;		}
	.hide-toggle-v4{			-webkit-background-size:16px 16px;		}
	
	.show-toggle-v3{			-webkit-background-size:61px 27px;		}
	.hide-toggle-v3{			-webkit-background-size:61px 27px;		}
	
	.show-toggle-v2{			-webkit-background-size:16px 16px;		}
	.hide-toggle-v2{			-webkit-background-size:16px 16px;		}
			
	.show-toggle-v1{			-webkit-background-size:12px 12px;		}
	.hide-toggle-v1{			-webkit-background-size:12px 12px;		}
	
	
	/*Checkboxes*/
	/*//////////*/
	.checkbox-v1{		-webkit-background-size:16px 18px;}
	.checked-v1{		-webkit-background-size:16px 18px;}
	.checkbox-v2{		-webkit-background-size:16px 18px;}
	.checked-v2{		-webkit-background-size:16px 18px;}
	.checkbox-v3{		-webkit-background-size:16px 16px;}
	.checked-v3{		-webkit-background-size:16px 16px;}
	.checkbox-v4{		-webkit-background-size:16px 16px;}
	.checked-v4{		-webkit-background-size:16px 16px;}
	
	.radio-v1{			-webkit-background-size:16px 18px;}
	.balled-v1{			-webkit-background-size:16px 18px;}
	.radio-v2{			-webkit-background-size:16px 18px;}
	.balled-v2{			-webkit-background-size:16px 18px;}


	/*//////////////////////////////////////////////////////////////*/
	/*------------------Classic Notifications-----------------------*/
	/*//////////////////////////////////////////////////////////////*/
	
	.green-notification p{			-webkit-background-size:16px 16px;}
	.red-notification p{			-webkit-background-size:16px 16px;}
	.blue-notification p{			-webkit-background-size:16px 16px;}
	.yellow-notification p{			-webkit-background-size:16px 16px;}

	/*//////////////////////////////////////////////////////////////////////////////////////*/
	/*-------------------------Header Notification------------------------------------------*/
	/*//////////////////////////////////////////////////////////////////////////////////////*/
	
	.header-notification strong{ 	color:#666;}
	.warning-notification em{		-webkit-background-size:16px 16px;}
	.close-notification em{			-webkit-background-size:16px 16px;}
	.heart-notification em{			-webkit-background-size:16px 16px;}
	.calendar-notification em{		-webkit-background-size:16px 16px;}
	.info-notification em{			-webkit-background-size:16px 16px;}


	/*Blog*/
		
	.posted-by{			-webkit-background-size:12px 12px;}
	.posted-at{			-webkit-background-size:13px 12px;}
	.posted-cat{		-webkit-background-size:16px 11px;}
	.posted-tag{		-webkit-background-size:12px 12px;}
	.posted-more{		-webkit-background-size:17px 12px;}
	
}
