@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

@font-face {
    font-family: MidiaFonte ;
    src: url(../fonts/Myriad_Condensed.ttf);
}


*{
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

iframe {

    margin: 0 auto;
    background-color: #777;
    display: block;
    position: absolute !important;

}

.theFontWarning {
    font-family: MidiaFonte;
    font-size: 26px;
    color: #434343 !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3) !important;
    margin-top: 3px;
    font-weight: normal !important;
    line-height: 25px;
    margin-bottom: 0px;

}

.theFont {
    font-family: MidiaFonte;
    font-size: 26px;
    color: #ffffff !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6) !important;
    margin-top: 3px;
    font-weight: normal !important;
}

#leMainTitle {
    font-family: MidiaFonte;
    font-size: 22px !important;
    color: #444444 !important;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, .4) !important;
    width: 100%;
    padding-bottom: 4px !important;
    line-height: 20px !important;
    font-weight: normal !important;

}

.theFontItem {
    font-family: MidiaFonte;
    font-size: 18px !important;
    color: #444444 !important;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, .4) !important;
    padding-top: 8px !important;
    padding-bottom: 4px !important;
    line-height: 20px !important;
    font-weight: normal !important;

}

.mainContainer {
    background-image: url(../images/misc/menu-bg.png);
    /*background-image: url(../images/midiaDados/patternContent.png);*/
    background-repeat: repeat;
    margin-left: 0px !important;
    margin-right: 0px !important;
   /* padding-top: 46px;*/
    width: 100%;
    height: 100%;

}

#dashCaptions {
    background: url(../images/midiaDados/legendas.png);
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center center;
    background-size: contain;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%;
    height: 20px;
    bottom: 0;
    position: absolute;

}

#theHeader {
    -webkit-transition: all .1s linear;
}

#theEmptyContent {
    background-image: url(../images/midiaDados/logoOlho.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: -48px;
    width: 100%;
    height: 100%;


}

.InitButton {
    font-family: MidiaFonte;
    position: absolute !important;
    bottom: 85px;
    right: 30px;

    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
    text-decoration: none !important;
    white-space: nowrap;

    display: inline-block;
    vertical-align: baseline;

    cursor: pointer;
    padding: 10px 20px;

    background-repeat: no-repeat;

    background-position: bottom left;

    background-position: bottom left, top right, 0 0, 0 0;
    background-clip: border-box;

    -moz-box-shadow: 0 0 1px #fff inset;
    -webkit-box-shadow: 0 0 1px #fff inset;
    box-shadow: 0 0 1px #fff inset;

    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
}

.InitButton:hover {

    background-position: top left;
    background-position: top left, bottom right, 0 0, 0 0;
}

.InitButton:active {

}

.InitButton.big {
    font-size: 30px;
}

.InitButton.medium {
    font-size: 18px;
}

.InitButton.small {
    font-size: 13px;
}

.blue.InitButton {
    color: #0f4b6d !important;

    border: 1px solid #84acc3 !important;

    background-color: #48b5f2;

    background: -moz-radial-gradient(center bottom, circle, rgb(74, 142, 204) 0, rgba(89, 208, 244, 0) 100px), -moz-linear-gradient(#86b8e0, #4a8ecc);

    background: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgb(74, 142, 204)), to(rgba(89, 208, 244, 0))), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#86b8e0), to(#4a8ecc));
}

.blue.InitButton:hover {
    background-color: #63c7fe;

    background: -moz-radial-gradient(center bottom, circle, rgb(177, 208, 230) 0, rgba(109, 217, 250, 0) 100px), -moz-linear-gradient(#63c7fe, #4a8ecc);

    background: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgb(177, 208, 230)), to(rgba(109, 217, 250, 0))), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#86b8e0), to(#4a8ecc));
}

h6 {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif !important;
}

h5 {
    font-weight: 800;
    font-family: 'Open Sans', sans-serif !important;
}

.icon-heading {
    background-image: url(../images/ui/minus.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
    padding-left: 25px;
}

.page-content {
    position: absolute;
    z-index: 10;
    width: 100%;
    display: block;
    background-image: url(../images/misc/menu-bg.png);
    background-repeat: repeat;
}

.page-sidebar {
   /* background-image: url(../images/misc/menu-bg.png);
    background-repeat: repeat;*/
    background-color: #ffffff;
    width: 334px;
    display: block;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
    position: fixed;
}

.page-sidebar-scroll {
    width: 350px;
    overflow: scroll !important;
    overflow-x: hidden !important;
    -webkit-overflow-scroll: touch !important;
    height: 100%;
}

.image-decoration {
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 4px;
    border: solid 1px #cacaca;
    margin-bottom: 2px;
}

.menu-item {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Lato', sans-serif !important;
    background-image: url(../images/misc/menu-item/menu-item-strip.png);
    background-repeat: repeat-x;
    display: block;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 48px;
    margin-bottom: -1px;
}

.menu-item:hover {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-image: url(../images/misc/menu-item/menu-item-strip-hover.png);
}

.menu-item a {
    color: #FFFFFF;
}

.menu-disabled {
    /*background-image:url(../images/misc/menu-item/menu_off.png);
    background-position:180px 17px; */
    background-repeat: no-repeat;
    text-shadow: 0px 1px 0px #000000;
}

.menu-enabled {
    /*background-image:url(../images/misc/menu-item/menu_on.png);
    background-position:180px 17px;   */
    background-repeat: no-repeat;
}

.menu-item strong {
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: block;
    width: 30px;
    height: 50px;
    float: left;
    margin-left: 15px;
    margin-right: 8px;
}

.submenu {
    display: none;
}

.submenu-on-page {
    display: block;
}

.submenu-active {
    color: #FFFFFF !important;
}

.submenu > a:last-child {
    padding-bottom: 5px;
    margin-bottom: -5px;
}

.submenu a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*line-height: 35px !important;  */
    text-shadow: 0px 1px 0px #000000;
    display: block;
    font-size: 10px;
    background-image: url(../images/misc/menu-arrows/arrow.png) !important;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 35px;
    background-position: 10px 13px;
    color: #9a9a9a;
}

.submenu a:hover {
    background-color: rgba(255, 255, 255, 0.07);
}

.submenu-decoration {
    background-color: rgba(50, 50, 50, .7);

    display: block;
    height: 1px;
}

.sidebar-heading {
    color: #FFFFFF;
    text-shadow: 0px 2px 0px #000000;
    font-family: 'Lato', sans-serif !important;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 20px;
}

.sidebar-logo {
    background-image: url(../images/midiaDados/logo3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    width: 293px;
    height: 98px;
    cursor: pointer;
}

.sidebar-decoration {
    background-image: url(../images/misc/sidebar-deco.png);
    height: 2px;
    background-repeat: repeat-x;
    display: block;
}

.update-box {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-shadow: 0px 1px 0px #000000;
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-left: 50px;
    line-height: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #9a9a9a;
}

.update-box:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-updates p {
    margin-bottom: 0px !important;
}

.sidebar-button {
    width: 90px;
    height: 49px;
    display: block;
    float: right;
    /* background-image: url(../images/misc/sidebar-button.png);
     background-repeat: no-repeat;*/
}

.sidebar-button em {
    color: #FFFFFF;
    font-size: 10px;
    font-style: normal;

    background-size: 16px 16px;
    background-position: 39px 9px;
    background-repeat: no-repeat;
    text-align: center;
    display: block;
    padding-top: 24px;
    font-weight: 400;
}



.sidebar-copyright {
    padding-top: 15px;
    font-size: 10px;
}

.header {
    position: absolute;
    width: 100%;
    z-index: 99999;
    height: 48px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

}

.header-decoration {
    height: 48px;
    height: 2px;
    width: 100%;

}

.logo {
    width: 146px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 71px;
}

.header p {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #757575;
    margin-top: 15px;
}

 /*

.sidebar-button-close {
    /* background-image: url(../images/icon_shadow/misc/accessdenied.png);  * /
    background-image: url(../images/misc/menu-item/deploy-menu.png);
    background-position: center center;
    background-size: contain;
}
.hide-sidebar {
    position: absolute;
    z-index: 12;
    background-image: url(../images/misc/menu-item/deploy-menu.png);
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center center;
    background-size: contain;
    width: 48px;
    height: 48px;


    display: none;
    -webkit-transform: rotate(-180deg);

}

.show-sidebar {
    position: absolute;
    z-index: 12;
    background-image: url(../images/misc/menu-item/deploy-menu.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 48px;
    height: 48px;
    display: block;
}

.show-sidebar:hover {
    background-color: #f1f1f1;
}

.hide-sidebar:hover {
    background-color: #f1f1f1;
}

.header-tutorial:hover {
    background-color: #f1f1f1;
}

.header-tutorial {
    position: absolute;
    z-index: 12;

    /* background-image:url(../images/misc/menu-item/tutorial.png);
     background-repeat:no-repeat;  * /


    height: 48px;
    display: block;
    right: 0px;
    top: 0px;
    font-size: 20px;
    padding-top: 15px;
    padding-right: 10px;
    font-family: MidiaFonte;
}


.topMenuItem {
    position: absolute;
    z-index: 12;
    background-image: url(../images/misc/menu-item/deploy-menu.png);
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: center center;
    background-size: contain;


    display: inline-block;
    -webkit-transform: rotate(-180deg);
    font-family: MidiaFonte;

}   */

.midiaFont{
    font-family: MidiaFonte !important;
    font-size: 20px !important;
}
